.about-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.about-about {
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.about-bg {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 1024px;
  position: absolute;
}
.about-lgo-bg {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 126px;
  position: absolute;
}
.about-text {
  top: 41px;
  left: 638px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Bold;
  text-align: center;
  font-family: Josefin Slab;
  font-weight: 700;
  line-height: 44px;
  font-stretch: normal;
  text-decoration: none;
}
.about-text02 {
  top: 855px;
  left: 37px;
  color: rgba(0, 0, 0, 1);
  width: 1403px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Basic;
  font-weight: 400;
  line-height: 44px;
  font-stretch: normal;
  text-decoration: none;
}
.about-text07 {
  top: 314px;
  left: 37px;
  color: rgba(0, 0, 0, 1);
  width: 1403px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Basic;
  font-weight: 400;
  line-height: 44px;
  font-stretch: normal;
  text-decoration: none;
}
.about-text09 {
  top: 638px;
  left: 37px;
  color: rgba(0, 0, 0, 1);
  width: 1403px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Kenia;
  font-weight: 400;
  line-height: 44px;
  font-stretch: normal;
  text-decoration: none;
}
.about-text14 {
  top: 470px;
  left: 37px;
  color: rgba(0, 0, 0, 1);
  width: 1403px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Basic;
  font-weight: 400;
  line-height: 44px;
  font-stretch: normal;
  text-decoration: none;
}
.about-text16 {
  top: 159px;
  left: 37px;
  color: rgba(255, 255, 255, 1);
  width: 846px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Regular;
  text-align: left;
  font-family: Kavivanar;
  font-weight: 400;
  line-height: 44px;
  font-stretch: normal;
  text-decoration: none;
}
.about-a6bbcadd668a426fba1a281f9fb8173e1 {
  top: 19px;
  left: 37px;
  width: 88px;
  height: 88px;
  position: absolute;
  border-radius: 100px;
}
.about-ellipse5 {
  top: 31px;
  left: 1347px;
  width: 64px;
  height: 64px;
  position: absolute;
}
.about-exit1 {
  top: 88px;
  left: 1361px;
  width: 50px;
  height: 50px;
  position: absolute;
}
.about-ellipse51 {
  top: 31px;
  left: 1274px;
  width: 64px;
  height: 64px;
  position: absolute;
}
.about-left {
  top: 45px;
  left: 1288px;
  width: 36px;
  height: 36px;
  position: absolute;
}
